# PostgreSQL Connection URL
# Local Development:
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventra?schema=public"

# Cloud Supabase (Transaction Pooler / Direct):
# DATABASE_URL="postgresql://postgres.ktbjngpuhyaqklcnunea:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
